<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/first_app/css/styles.css' %}" />
  </head>
  <body>
        
    <div class="container">
        <div class="row">
            <h1>Survey page</h1>
        </div>
        <div class="row">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="row">
            <form action="/surveys/process/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Your name: </label>
                    <input type="text" name="name" placeholder="John Smith">
                </div>
                <div class="form-group">
                    <label for="location">Dojo Location: </label>
                    <select name="location" class="form-control">
                        <option value="" default>Choose location</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Burbank">Burbank</option>
                        <option value="San Jose">San Jose</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Dallas">Dallas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="language">Favorite language: </label>
                    <select name="language" class="form-control">
                        <option value="" default>Choose language</option>
                        <option value="Python">Python</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Angular">Angular</option>
                        <option value="React">React</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comments">Comment (optional): </label>
                    <textarea name="comments" class="form-control" rows="5" cols="5"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>